{% extends 'home.html' %}

{% block title %}TechLearn Academy - Trainers{% endblock %}

{% block content %}
<div class="container pt-4 px-4">
    <div class="d-flex align-items-center justify-content-between">
        <div class="fs-3">
            <h2 class="pb-2"><i class="fa-solid fa-person-chalkboard"></i> Trainers</h2>
        </div>
        {% if perms.academy.add_trainer %}
        <div>
            <a href="{% url 'add_trainer' %}" class="btn btn-primary btn-sm">
                <i class="fa-solid fa-user-plus"></i> Add trainer
            </a>
        </div>
        {% endif %}
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for trainer in trainers %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ trainer.photo.url }}" class="card-img-top object-fit-contain" alt="photo" height="150px">
                <div class="card-body">
                    <a href="{% url 'trainer_detail' trainer.id %}" class="text-decoration-none">
                        <h4 class="card-title">{{ trainer.name }}</h4>
                    </a>
                    <p class="card-text">
                        <span class="fw-medium">Expertise:</span> {{ trainer.expertise }}
                    </p>
                </div>
                <div class="px-2 py-2 d-flex justify-content-end align-itmes-center gap-1">
                    {% if perms.academy.edit_trainer %}
                    <a href="{% url 'edit_trainer' trainer.id %}" class="btn btn-sm btn-warning">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    {% endif %}
                    {% if perms.academy.delete_trainer %}
                    <a href="{% url 'delete_trainer' trainer.id %}" class="btn btn-sm btn-danger">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}